language: ruby
cache: bundler
sudo: false
rvm: 2.4

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

script:
 - bundle exec jekyll build
 - bundle exec htmlproofer ./_site --disable-external
 
