---
layout: default
---
<div class="container omniad">
    <div class="row">
       <div class="features col s12 m8 l8 xl9">
          <div class="row">
              <div class="claim col s12 offset-m2 m8">
                  <img src="OmniOSce_logo.svg" alt="OmniOS CE Logo" class="responsive-img"/>
              </div>
              <div class="claim col s12 offset-m2 m8">
                  The Open Source Enterprise Server OS with just the features you need.
              </div>
          </div>
           <div class="row">
               <div class="col s12">
                   <h3>Key Features</h3>
               </div>
               <div class="col s12 m6 l6 xl4">
                  <div class="card">
                  <div class="card-content">
                       <span class="card-title">Outstanding storage platform</span>
                       <p>
ZFS, OmniOS' native file-system, combines a file-system and volume manager with strong data-integrity protection. Easily share volumes via iSCSI, CIFS and NFS.
                       </p>
                  </div>
                  </div>
               </div>
               <div class="col s12 m6 l6 xl4">
                  <div class="card">
                  <div class="card-content">
                       <span class="card-title">Lightweight virtualisation</span>
                       <p>
Run lightweight OmniOS or Linux virtual machines in containers without the
overhead of a traditional hypervisor and with full resource control.
                       </p>
                  </div>
                  </div>
               </div>
               <div class="col s12 m6 l6 xl4">
                  <div class="card">
                  <div class="card-content">
                       <span class="card-title">Hardware virtualisation</span>
                       <p>
OmniOS also provides full hardware virtualisation via KVM for running guests
such as Microsoft Windows, FreeeBSD and many others.
                       </p>
                  </div>
                  </div>
               </div>
               <div class="col s12 m6 l6 xl4">
                  <div class="card">
                  <div class="card-content">
                       <span class="card-title">Software-defined networking</span>
                       <p>
Virtualise your network infrastructure through virtual interfaces and switches
and even allocate dedicated resources for specific services.
                       </p>
                  </div>
                  </div>
               </div>
               <div class="col s12 m6 l6 xl4">
                  <div class="card">
                  <div class="card-content">
                       <span class="card-title">Built-in tracing</span>
                       <p>
DTrace provides a comprehensive dynamic tracing framework to aid
troubleshooting across the whole software stack. Always available,
instrument anything on demand.
                       </p>
                  </div>
                  </div>
               </div>
               <div class="col s12 m6 l6 xl4">
                  <div class="card">
                  <div class="card-content">
                       <span class="card-title">Open Source</span>
                       <p>
OmniOS is open-source, self-hosting and maintained on GitHub. All development
is done out in the open with pull-requests and anyone can grab the source and
build OmniOS themselves.
                       </p>
                  </div>
                  </div>
               </div>
               <div class="col s12 m6 l6 xl4">
                  <div class="card">
                  <div class="card-content">
                       <span class="card-title">Speedy deployment</span>
                       <p>
OmniOS' revolutionary installation framework - Kayak - is blindingly fast,
whether installing 100s of servers over the network or just building a single
VM (in &lt; 2 minutes).
                       </p>
                  </div>
                  </div>
               </div>
               <div class="col s12 m6 l6 xl4">
                  <div class="card">
                  <div class="card-content">
                       <span class="card-title">Seamless updates and upgrades</span>
                       <p>
Easily manage installed packages with digitally-signed updates. LTS releases
receive updates for four years so you can schedule upgrades when convenient.
                       </p>
                  </div>
                  </div>
               </div>
               <div class="col s12 m6 l6 xl4">
                  <div class="card">
                  <div class="card-content">
                       <span class="card-title">Commercial support</span>
                       <p>
Commercial support packages are available to provide custom assistance
and direct access to the OmniOS developers in case of any problems
                       </p>
                  </div>
                  </div>
               </div>
           </div>
        </div>
        <div class="news col s12 m4 l4 xl3">
            <div class="row">
                <div class="col s12">
                    <h3>Latest News</h3>
                </div>
            {% for post in site.posts limit:10 %}
                <div class="col s12">
                <div class="card">
                    <a href="{{ post.url | prepend: site.baseurl }}.html">
                        <div class="card-content">
                            <p><i>{{ post.date | date: "%B %-d, %Y" }}</i></p>
                                {% if post.synopsis %}
                                    <p>{{ post.synopsis | markdownify }}</p>
                                {% else %}
                                    <p>{{ post.title }}</p>
                                {% endif %}
                        </div>
                    </a>
                </div>
                </div>
            {% endfor %}
                <div class="col s12">
                    <a href="index.html">more news ...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
jQuery(document).ready(function(){
    var resizer = function (){
        var width = jQuery(window).width();
        var height = 0;
        var cards = jQuery('.features .row .col .card');
        cards.css('height','auto');
        if (width < 600){
            return;
        }
        cards.each(function(){
            height = Math.max(height,$(this).height());
            return this;
        })
        .css('height',height);
    };
    resizer();
    jQuery(window).on('resize',resizer);
});
</script>
