  <div class="container container-large">
    <div class="row">
      <div class="col s12 offset-xl2 xl3 offset-l1 l4">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about/contact.html"><i class="far fa-comments"></i>&nbsp;&nbsp;Get in touch</a></li>
          <li><a class="grey-text text-lighten-3" href="/about/about.html"><i class="far fa-info-circle"></i>&nbsp;&nbsp;About OmniOSce</a></li>
          <li><a class="grey-text text-lighten-3" href="/about/privacy.html"><i class="far fa-badge-check"></i>&nbsp;&nbsp;Privacy Policy</a></li>
          {% if site.owner.github.show == true %}<li><a class="grey-text text-lighten-3" href="https://github.com/{{ site.owner.github.username }}"><i class="fab fa-github"></i>&nbsp;&nbsp;{{ site.owner.github.username }}</a></li>{% endif %}
          {% if site.owner.facebook.show == true %}<li><a class="grey-text text-lighten-3" href="{{ site.owner.facebook.url }}"><i class="fab fa-facebook-square"></i>&nbsp;&nbsp;{{ site.owner.facebook.name }}</a></li>{% endif %}
          {% if site.owner.twitter.show == true %}<li><a class="grey-text text-lighten-3" href="https://twitter.com/{{ site.owner.twitter.username }}"><i class="fab fa-twitter"></i>&nbsp;&nbsp;@ {{ site.owner.twitter.username }}</a></li>{% endif %}
          {% if site.owner.email %}<li><a class="grey-text text-lighten-3" href="mailto:{{ site.owner.email }}"><i class="far fa-envelope"></i>&nbsp;&nbsp;{{ site.owner.email }}</a></li>{% endif %}
          <li><a class="grey-text text-lighten-3" href="#" onClick="MCpopupNow()"><i class="fab fa-mailchimp"></i>&nbsp;&nbsp;OmniOS CE Newsletter Subscripton</a></li>
          <li><a class="grey-text text-lighten-3" href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="far fa-rss"></i>&nbsp;&nbsp;Atom Feed</a></li>
        </ul>
      </div>
      <div class="col l5 offset-l2 offset-xl1 xl4 s12 right-align">
        <h5 class="white-text">{{ site.logo }}</h5>
        <p class="grey-text text-lighten-4">{{ site.description }}</p>
      </div>
    </div>
  </div>
  
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
function MCloadPopup() {
    require(["mojo/signup-forms/Loader"], function(L) { 
        L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"cacadc11134daf05d442e6595","lid":"84f8b950f7"})
    });
}
function MCpopupNow() {
     document.cookie = 'MCPopupClosed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
     document.cookie = 'MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
     jQuery('#PopupSignupForm_0').remove();
     MCloadPopup();
}
jQuery(document).ready(function(){
  MCloadPopup();
});
</script>
