        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about/contact.html"><i class="far fa-comments"></i>&nbsp;&nbsp;Get in touch</a></li>
          <li><a class="grey-text text-lighten-3" href="/about/about.html"><i class="far fa-info-circle"></i>&nbsp;&nbsp;About OmniOSce</a></li>
          <li><a class="grey-text text-lighten-3" href="/about/privacy.html"><i class="far fa-badge-check"></i>&nbsp;&nbsp;Privacy Policy</a></li>
          {% if site.owner.github.show == true %}<li><a class="grey-text text-lighten-3" href="https://github.com/{{ site.owner.github.username }}"><i class="fab fa-github"></i>&nbsp;&nbsp;GitHub</a></li>{% endif %}
          {% if site.owner.facebook.show == true %}<li><a class="grey-text text-lighten-3" href="{{ site.owner.facebook.url }}"><i class="fab fa-facebook-square"></i>&nbsp;&nbsp;FaceBook</a></li>{% endif %}
          {% if site.owner.twitter.show == true %}<li><a class="grey-text text-lighten-3" href="https://twitter.com/{{ site.owner.twitter.username }}"><i class="fab fa-twitter"></i>&nbsp;&nbsp;Twitter</a></li>{% endif %}
          {% if site.owner.email %}<li><a class="grey-text text-lighten-3" href="mailto:{{ site.owner.email }}"><i class="far fa-envelope"></i>&nbsp;&nbsp;{{ site.owner.email }}</a></li>{% endif %}
          <li><a class="grey-text text-lighten-3" href="http://eepurl.com/dL1z7k"><i class="far fa-newspaper"></i>&nbsp;&nbsp;Newsletter Subscription</a></li>
          <li><a class="grey-text text-lighten-3" href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="far fa-rss"></i>&nbsp;&nbsp;Atom Feed</a></li>
        </ul>
  
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"cacadc11134daf05d442e6595","lid":"84f8b950f7","uniqueMethods":true}) })</script>

