{% assign mydocs = site.docs | group_by: 'category' %}
<ul id="slide-out" class="side-nav">
    <li><a href="{{ site.baseurl }}/" class="orange-text {% if "/" == page.url %}active{% endif %}">Home</a></li>
    {% for item in site.pages %}
    {% if item.title and item.show_in_menu %}
    <li>
        <a href="{{ item.url | prepend: site.baseurl }}.html"
           class="orange-text {% if item.url == page.url %}active{% endif %}">{{ item.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% assign categories = site.data.categories | sort: 'order' %}
    {% for cat in categories %}
    {% for mycat in mydocs %}
    {% if mycat.name == cat.key %}
    <li><div class="category">{{ cat.title }}</div>
    <ul>
        {% assign items = mycat.items | sort: 'order' %}
        {% for item in items %}
            <li><a href="{{ item.url | prepend: site.baseurl }}.html"
                class="orange-text {% if item.url == page.url %}active{% endif %}">{{ item.title }}</a></li>
        {% endfor %}
    </ul></li>
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>
<a href="#" class="menu-button" data-activates="slide-out">
    <span class="burger-icon"></span>
</a>
<div class="navbar-fixed">
    <nav class="white orange-text">
        <div class="container container-large">
            <a class="brand-logo" href="{{ site.baseurl }}/"><img style="padding-top:0.5ex; height: 4.8ex;" src="/OmniOSce_logo.svg" alt="Home"></a>
            <ul class="right hide-on-med-and-down">
                {% for item in site.pages %}
                {% if item.title and item.show_in_menu %}
                <li><a href="{{ item.url | prepend: site.baseurl }}.html" class="orange-text {% if item.url == page.url %}active{% endif %}">{{ item.title }}</a></li>
                {% endif %}
                {% endfor %}
                <li><a class="dropdown-button" href="#" data-activates="media-downloads">Downloads</a></li>
                
            </ul>
        </div>
    </nav>
</div>

<ul id="media-downloads" class="dropdown-content">
  <li><a href="https://downloads.omniosce.org/media/stable/omniosce-{{site.omnios_stable}}{{site.omnios_stable_suffix}}.iso">ISO</a></li>
  <li><a href="https://downloads.omniosce.org/media/stable/omniosce-{{site.omnios_stable}}{{site.omnios_stable_suffix}}.usb-dd">USB</a></li>
  <li><a href="https://downloads.omniosce.org/media/stable/kayak_{{site.omnios_stable}}{{site.omnios_stable_suffix}}.zfs.bz2">PXE</a></li>
</ul>