<div id="lm-popup" class="modal">
    <div class="modal-content">
        <h3>OmniOS Newsletter</h3>
        <p>Subscribe to our newsletter, to keep up to date with new releases of OmniOS and major security updates!</p>
        <div class="align-center">
        <button id="lm-subscribe" class="modal-close waves-effect waves-green btn">Subscribe Now!</button>
            </div>
    </div>
    <div class="modal-footer">
        <form>
        <span>
            <input id="lm-optout" type="checkbox" />
            <label for="lm-optout">Don't ask again</label>
        </span>
        <button id="lm-close" class="modal-close waves-effect waves-green btn-flat">Close</button>
    </form>
    </div>
</div>
