---
# Transform Sass into css
---

$h1-fontsize: 3rem;
$h2-fontsize: 2rem;
$h3-fontsize: 1.5rem;
$h4-fontsize: 1rem;
$h5-fontsize: 1rem;
$h6-fontsize: 1rem;
@import "materialize";
// @import "fontawesome";
@import "pygments";
@import "burger";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;

    p {
        margin-top: 1ex;
        margin-bottom: 2ex;
    }
}

article table {
  /*width: initial;*/
  > tbody {
    > tr:nth-child(odd) {
      background-color: $table-striped-color;
    }

    > tr > td {
      border-radius: 0;
    }
 }
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
}
@media #{$medium-and-up} {
    .container {
        width: 75%;
    }
}
@media #{$large-and-up} {
    .container {
        width: 60%;
    }
}

.no-margin {
    margin: 0;

    &.__top {
        margin-top: 0;
    }

    &.__bottom {
        margin-bottom: 0;
    }

    &.__left {
        margin-left: 0;
    }

    &.__right {
        margin-right: 0;
    }
}

.divider {
    background: transparent;
    border-bottom: 2px solid rgba(0, 39, 59, 0.08);

    &.dashed {
        border-bottom: 8px dashed #A9A9A9;
        transform: scale(1,0.1);
        width: 50%;
        margin: auto;
    }
}

.group-article .row:last-child .divider {
    display: none;
}

.card {
    border-radius: 0;
}

code.highlighter-rouge {
    white-space: nowrap;
}

article {
    img {
        max-width: 100%;
    }
    h1, h2 {
        color: color("orange","base");
    }
}

.side-nav {
    padding-top: 8ex;
    li>a,
    .category {
        font-size: 14px;
        font-weight: bold;
        height: 38px;
        line-height: 38px;
        padding: 0 32px;
    }
    ul li>a {
        padding-left: 50px;
    }
    li>a {
        font-weight: normal;
    }
    .active {
        background: color("orange","lighten-5");
    }
}

.navbar-fixed nav {
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.06);
}

nav .brand-logo {
    position: absolute;
    color: #FFF;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 10px;
    white-space: nowrap;
}

nav ul a.inline {
    display: inline;
    color: #ff9800;
}

.menu-button {
    position: fixed;
    z-index: 999;
    left: 2.5ex;
    top: 2.6ex;
    .burger-icon {
    	@include burger(25px, 3px, 5px, color("orange", "base"));
    }
    &.is-active .burger-icon {
    	@include burger-to-cross;
    }
}


main list-article,
main article {
    line-height: 3.1ex;
    font-weight: 300;
    @media #{$medium-and-up} {
	font-size: 1.2rem;
    }

//  ul,ol,p,table {
//	@extend .flow-text;
//  }
    ul:not(.browser-default) {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
	> li {
            list-style-type: initial;
	    margin-left: 1em;
	    margin-bottom: 1ex;
        } 
     }
     .select-wrapper > ul:not(.browser-default) {
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	> li {
	    list-style-type: none;
	    margin-left: 0px;
	    margin-bottom: 0px;
	}
    }
}


footer.page-footer {
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -0.003em;
}

.fleft, .cfleft {
	float: left;
}

.cfleft {
	clear: left;
}

.fright, .cfright {
	float: right;
}

.cfright {
	clear: right;
}

// get list styling back

