<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <header>
        {% include header.html %}
    </header>
    <main>
        {{ content }}
    </main>
    <footer class="page-footer no-margin __top orange">
        {% include footer.html %}
    </footer>
    <script type="text/javascript" src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/materialize.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/site.js" | prepend: site.baseurl }}"></script>
</body>
</html>
